@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");

@font-face {
  font-family: "Trade Gothic Next LT Pro Regular";
  src: url("./fonts/Linotype - TradeGothicNextLTPro-Rg.otf") format("opentype");
}

@font-face {
  font-family: "Trade Gothic Next LT Pro Heavy";
  src: url("./fonts/Linotype - TradeGothicNextLTPro-Hv.otf") format("opentype");
}

html {
  background: linear-gradient(111.34deg, #b4effc 0%, #d8c0ff 100%);
  height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  overscroll-behavior: none;
  overflow: auto;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Trade Gothic Next LT Pro Regular";
}

body,
main {
  margin: 0;
}

#monster-maker {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  margin-top: 3rem;
  max-height: 525px;
}

.left,
.right {
  display: flex;
  flex-direction: row;
}

.canvas-wrapper {
  background: #fff;
  padding: 4rem 2rem;
  border-radius: 30px 0 0 30px;
  box-shadow: 17px 20px 20px rgb(0 0 0 / 25%);
}

.right {
  padding: 2rem 0;
}

#canvas {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 30px 0 0 30px;
}

#canvas img {
  width: 100%;
  position: absolute;
}

#polaroid,
#mm-logo {
  display: none;
}

#controls {
  background: #ebebef;
  border-radius: 0 30px 30px 0;
  padding: 2rem 0 2rem 2rem;
  margin-right: 3rem;
  box-shadow: 17px 20px 20px rgb(0 0 0 / 25%);
}

h3.instructions {
  margin-top: 2rem;
  font-size: 24px;
  line-height: 130%;
  font-family: "Trade Gothic Next LT Pro Heavy";
  max-width: 14rem;
}

.chooser {
  display: flex;
  background: #c5d2ec;
  max-width: fit-content;
  margin-bottom: 1rem;
  align-items: center;
  padding: 4.5px 3px;
  margin: 0 1.5rem 1rem 0rem;
}

.chooser span {
  width: 10rem;
  display: inline-block;
  text-align: center;
  padding-bottom: 3px;
}

.chooser button {
  background: #1c58d9;
  border-radius: 1px;
  border: 0;
  color: #c5d2ec;
  font-size: 1.5rem;
  user-select: none;
  font-family: ui-serif;
  padding-bottom: 5px;
}

.chooser button.disabled {
  opacity: 0.8;
}

.chooser button:not(.disabled):hover {
  opacity: 0.8;
  cursor: pointer;
}

.chooser button:active {
  padding-top: 1px;
}

#release-form {
  margin-top: 1rem;
  max-width: 27rem;
}

h1.heading {
  margin-top: 0;
  font-size: 52px;
  line-height: 130%;
  color: #1e325c;
  margin-bottom: 2rem;
  font-family: "Trade Gothic Next LT Pro Heavy";
}

h2.subheading {
  margin-top: 0;
  font-style: normal;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

img.logo {
  max-width: 200px;
  margin-left: -0.5rem;
}

#mktoForm_2085 input,
#release-form input {
  background: #ffffff;
  border: 2px solid #babec9;
  width: 94%;
  height: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
}

button.release,
button.mktoButton {
  font-family: "Fira Code", monospace !important;
  background: #ffbc1f !important;
  border-radius: 30px !important;
  border: 0 !important;
  padding: 0.7rem 1.5rem !important;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  margin-top: 1.25rem !important;
  font-size: 16px !important;
}

button.release img {
  max-width: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
}

button.release:not(:disabled):hover {
  opacity: 0.5;
  cursor: pointer;
}

button.release:disabled img {
  opacity: 0.5;
}

form.mktoForm,
.mktoFormCol {
  width: 100% !important;
}

form #LastName,
form #FirstName,
form #Email {
  width: 410px !important;
  background: #ffffff;
  border: 2px solid #babec9;
  height: 3rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  display: flex;
  align-items: center;
}

form #emailOptIn {
  border: 2px solid #babec9;
}

form.mktoForm {
  font-family: "Trade Gothic Next LT Pro Regular" !important;
}

#mktoForm_2085 > div:nth-child(5) > div.mktoFieldDescriptor.mktoFormCol {
  width: 15% !important;
  margin-bottom: 10px;
}

#mktoForm_2085 > div:nth-child(5) > div:nth-child(2) {
  width: 71% !important;
  margin-top: 10px;
}

#mktoForm_2085 > div.mktoButtonRow > span > button {
  color: black !important;
  margin-top: 0 !important;
  display: block !important;
  padding: 1rem 2rem !important;
}

.mktoOffset {
  width: 0 !important;
}

.mktoHtmlText.mktoHasWidth {
  width: initial !important;
}

#mktoForm_2085 > div:nth-child(5) {
  margin-left: -29px;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
